@use '/src/styles/mixins' as *;

select {
  text-align: center;
  width: clamp(250px, 50vw, 20rem);
  min-width: 2.75rem;
  min-height: 2.75rem;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  @include cyan(0.75, text);
  @include dark-blue(0.75);
  @include cyan-border(0.5);
  @include box-shadow(0 0 0.5rem rgba(0, 0, 0, 0.75));

  @include respond-up(tablet) {
    max-width: 25rem;
    padding: 0.5rem 1rem;
  }

  @include respond-up(small-desktop) {
    min-width: 2.25rem;
    min-height: 2.25rem;
    max-width: 30rem;
  }

  @include respond-up(large-desktop) {
    max-width: 35rem;
  }

  &:hover:not(&:disabled),
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    @include cyan(1, text);
    @include box-glow;
    @include cyan-border;
    @include bright;
    @include scale(1.01, x);
  }

  &:disabled {
    opacity: 1;
    @include white-txt(0.25);
    @include dark-border;
  }
}
