@use 'sass:map';
@use './breakpoints' as *;

// Font families

$font-sans: 'Hanken Grotesk', 'Helvetica Neue', Arial, sans-serif;
$font-serif: 'Source Serif 4', Georgia, 'Times New Roman', serif;

:global(html),
:global(body) {
  font-family: $font-sans;
}

:global(h5),
:global(button.void-btn),
:global(label),
:global(input),
:global(select),
:global(textarea),
:global(p),
:global(article) {
  font-family: $font-serif;
}

:global(strong),
:global(span),
:global(a) {
  font-family: inherit;
}

// Font sizes

$font-scale: (
  'body': clamp(1rem, 1.5vw, 1.05rem),
  // 16–18px
  'small': clamp(0.875rem, 1.2vw, 1rem),
  // 14–16px
  'caption': clamp(0.75rem, 1vw, 0.875rem),
  // 12–14px
  // 'h1': clamp(2rem, 5vw, 3.5rem),
  'h1': clamp(1.5rem, 3vw, 2.5rem),
  // 32–56px
  'h2': clamp(1.75rem, 4vw, 3rem),
  // 28–48px
  'h3': clamp(1.5rem, 3vw, 2.5rem),
  // 24–40px
  'h4': clamp(1.25rem, 2.5vw, 1.5rem),
  // 20–24px
  'h5': clamp(1.125rem, 1.5vw, 1.25rem), // 18-20px
);

@mixin font($size-key: 'body') {
  @if map.has-key($font-scale, $size-key) {
    font-size: map.get($font-scale, $size-key);
    line-height: 1.5;

    @if $size-key == 'h1' {
      @include respond-up(tablet) {
        font-size: clamp(2rem, 5vw, 3.5rem);
      }
    }

    // Static value for wide screens
    @include respond-up(quad-hd) {
      @if $size-key == 'body' {
        font-size: 0.65vw;
      } @else if $size-key == 'small' {
        font-size: 0.6vw;
      } @else if $size-key == 'caption' {
        font-size: 0.53vw;
      } @else if $size-key == 'h1' {
        font-size: 1.88vw;
      } @else if $size-key == 'h2' {
        font-size: 1.56vw;
      } @else if $size-key == 'h3' {
        font-size: 1.25vw;
      } @else if $size-key == 'h4' {
        font-size: 0.94vw;
      } @else if $size-key == 'h5' {
        font-size: 0.78vw;
      }
    }
  } @else {
    @warn "Font size `#{$size-key}` not found in $font-scale map.";
  }
}

:global(:where(h1)) {
  @include font(h1);
}

:global(:where(h2)) {
  @include font(h2);
}

:global(:where(h3)) {
  @include font(h3);
}

:global(:where(h4)) {
  @include font(h4);
}

:global(:where(h5, input, select, textarea)) {
  @include font(h5);
}

:global(:where(.validation)) {
  @include font(small);
}

:global(:where(p, label, button)) {
  @include font(body);
}

// FONT SIZES

:global(.caption-font) {
  @include font(caption);
}

:global(.small-font) {
  @include font(small);
}

:global(.body-font) {
  @include font(body);
}

:global(.h5-font) {
  @include font(h5);
}

:global(.h4-font) {
  @include font(h4);
}

:global(.h3-font) {
  @include font(h3);
}

:global(.h2-font) {
  @include font(h2);
}

:global(.h1-font) {
  @include font(h1);
}

// Hanken Grotesk
// 'Hanken Grotesk', 'Helvetica Neue', Arial, sans-serif;

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Source Serif 4
// 'Source Serif 4', Georgia, 'Times New Roman', serif;

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
